{% extends "base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block extra_head %}

<style>
.form{
    max-width: 500px;
    margin-left: 30%;
    font-size: 22px;
    padding-bottom: 10px;
}
.button{
    font-size: 27px;
    margin-left: 40%;
    padding:10px;
    
}

</style>
{% endblock %}
{% block content %}

<form action="{% url 'corporate:contact_form' %}" method="POST" class='form'>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" class="btn btn-primary button">
</form>


{% endblock content %}