{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">

    {% for object in objects %}
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img src="{{object.image.url}}" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        <a href="">
                            <span class="badge purple mr-1">{{ object.get_category_display }}</span>
                        </a>
                    </div>

                    <p class="lead">
                        {% if object.discount_price %}
                        <span class="mr-1">
                            <del>${{ object.price }}</del>
                        </span>
                        <span>${{ object.discount_price }}</span>
                        {% else %}
                        <span>${{ object.price }}</span>
                        {% endif %}
                    </p>

                    <p class="lead font-weight-bold">Description</p>

                    <p>{{ object.description }}</p>

                    {% comment %} <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                        <button class="btn btn-primary btn-md my-0 p" type="submit">
                            Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>

                    </form> {% endcomment %}
                    <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                        Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove from cart
                    </a>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>
        {% endfor %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                    odit
                    voluptates,
                    quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

            </div>
            <!--Grid column-->

        </div>

        <div>

        </div class="row d-flex justify-content-center wow fadeIn">
        <!--Grid row-->
        {% for r in reviews %}



        <p>User:{{r.user}}</p>
        <p>review:{{r}}</p>

        {% endfor %}

        <div>

        </div>

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>

    <div>


        <form action="{% url 'core:product' slug=slugs %}" method="POST">\
            {% csrf_token %}
            <textarea name="review" cols="30" rows="10">

  </textarea>

            <input type="submit" value="submit your review" class="btn btn-primary">
        </form>


    </div>


    <section class="text-center mb-4">

        <div class="row wow fadeIn">

            {% for item in similar %}
            <div class="col-lg-3 col-md-6 mb-4">

                <div class="card">

                    <div class="view overlay">
                        {% comment %} <img
                            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                            class="card-img-top" {% endcomment %} <img src="{{ item.image.url }}" class="card-img-top">
                        <a href="{{ item.get_absolute_url }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <a href="" class="grey-text">
                            <h5>{{ item.get_category_display }}</h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                    <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                                </a>
                            </strong>
                        </h5>

                        <h4 class="font-weight-bold blue-text">
                            <strong>$
                                {% if item.discount_price %}
                                {{ item.discount_price }}
                                {% else %}
                                {{ item.price }}
                                {% endif %}
                            </strong>
                        </h4>

                    </div>

                </div>

            </div>
            {% endfor %}
        </div>

    </section>




</main>

{% endblock content %}