{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main">
  
  <ul class="cards" style="font-size: 22px;">
    {% for item in items %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="{{ item.image.url }}"></div>
        <div class="card_content">
          <h1 class="product-title">{{ item.title }}</h1>
        <h3 class="product-price">price:{{item.price}}</h3>
          <a class="btn card_btn" href="{% url 'core:add-to-cart' slug=item.slug %}">Add to Cart</a>
        </div>
      </div>
    </li>
    {% endfor %}

   
  </ul>
</div>



<!--/ wrapper -->

<!--/ wrapper -->

{% endblock content %}